<section id="dashboard" class="p-5">
    <h2>Hello, {{user.username}}!</h2>
    <h3>↓ Here are your posts.</h3>

    <table id="my-posts" class="mt-5 w-100">
        <tbody>
            {{#each user.blog_posts as |post|}}
            <tr class="one-post">
                <td class="post-title2 p-3">
                    <h4><a href="/blogpost/{{post.id}}">{{post.title}}</a></h4>
                </td>
                <td class="post-info2 p-3">
                    <p class="post-date2">{{format_date post.date_created}}</p>
                </td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>

    <a href="/new-post"><button class="new-btn w-100 py-2">+ new post.</button></a>
</section>