<section class="p-5">
    {{#each posts as |post|}}
    <div id="post-list">
        <div class="one-post">
            <div class="d-flex justify-content-between py-3">
                <div class="post-title">
                    <h2><a href="/blogpost/{{post.id}}">{{post.title}}</a></h2>
                </div>
                <div class="post-info">
                    <p class="post-writer mb-1">{{post.user.username}}</p>
                    <p class="post-date mb-0">{{format_date post.date_created}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>