<section class="p-5">
    <table id="post-list">
        {{#each posts as |post|}}
        <tbody>
            <tr class="one-post">
                <td class="post-title p-3">
                    <h2><a href="/blogpost/{{post.id}}">{{post.title}}</a></h2>
                </td>
                <td class="post-info d-flex flex-column justify-content-end">
                    <p class="post-writer mb-1">{{post.user.username}}</p>
                    <p class="post-date mb-2">{{format_date post.date_created}}</p>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</section>