<section class="p-5">
    <div id="post-list">
        {{#each posts as |post|}}
        <div class="one-post">
            <div class="d-flex justify-content-between py-3">
                <div class="post-title">
                    <h2><a href="/blogpost/{{post.id}}">{{post.title}}</a></h2>
                </div>
                <div class="post-info d-flex flex-column justify-content-end">
                    <p class="post-writer mb-1">{{post.user.username}}</p>
                    <p class="post-date mb-2">{{format_date post.date_created}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    
</section>