<section id="login">
    <form class="login-form">
        <h2 class="mb-5">Log in here.</h2>

        <div class="mb-4">
            <label for="user-login" class="lisu-label d-block mb-2">↓ username here.</label>
            <input type="text" id="user-login" class="lisu-input p-3 w-100">
        </div>

        <div>
            <label for="password-login" class="lisu-label d-block mb-2">↓ password here.</label>
            <input type="password" id="password-login" class="lisu-input p-3 w-100">
        </div>

        <button id="login-btn" type="submit" class="lisu-btn w-75 p-2 d-block mt-5 mx-auto">log in.</button>
    </form>
</section>

<script src="/js/login.js"></script>