<section id="signup">
    <form class="signup-form">
        <h2 class="mb-5">Sign up here.</h2>

        <div class="mb-4">
            <label for="user-signup" class="lisu-label d-block mb-2">↓ username here.</label>
            <input type="text" id="user-signup" class="lisu-input p-3 w-100">
        </div>

        <div>
            <label for="password-signup" class="lisu-label d-block mb-2">↓ password here.</label>
            <input type="password" id="password-signup" class="lisu-input p-3 w-100">
        </div>

        <button class="lisu-btn w-75 p-2 d-block mt-5 mx-auto">sign up.</button>
    </form>
</section>

<script src="/js/login.js"></script>