:root {
    --backgroung-color: #FDF9F9;
    --the-color: #5F7161;
    --logo: 'Space Mono', monospace;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --line: 2.5px solid var(--the-color);
}

* {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--the-color)
}

body {
    background-color: var(--backgroung-color);
}

a {
    color: var(--the-color);
    text-decoration: none;
}

a:hover {
    color: var(--the-color)
}

/* navbar */
nav {
    width: 85%;
}

nav div {
    display: block;
    margin: 0 auto;
}

#logo {
    /* margin-left: 1.75vw; */
    font-family: var(--logo);
    font-size: 4.25vw;
}

#user-links {
    border-bottom: var(--line);
}

#logout {
    cursor: pointer;
}

.navlink1 {
    font-weight: var(--light);
    font-size: 2vw;
}

.navlink2 {
    font-weight: var(--regular);
    font-size: 3vw;
}

/* homepage */
.one-post {
    border-bottom: var(--line);
}

.post-title {
    /* border: 1px solid yellow; */
    width: 65%;
}

.post-title h2 {
    font-size: 3.25vw;
    font-weight: var(--bold);
}

.post-info {
    width: 35%;
    text-align: end;
}

.post-info .post-writer {
    font-weight: var(--medium);
    font-size: 1.6vw;
}

.post-info .post-date {
    font-size: 1.4vw;
}

/* login/signup */
#login, #signup {
    padding: 20% 10%;
}
.form-title {
    font-size: 4vw;
    font-weight: var(--semibold);
}

.lisu-label {
    font-size: 3.25vw;
    font-weight: var(--medium);
}

.lisu-input {
    border: var(--line);
    background-color: transparent;
    font-size: 2.25vw;
}

.lisu-input:focus {
    outline: none;
}

.lisu-btn {
    border: var(--line);
    background-color: var(--the-color);
    color: var(--backgroung-color);
    font-size: 2.25vw;
}

.lisu-btn:hover {
    background-color: transparent;
    color: var(--the-color);
}

/* dashboard */
#dashboard h2 {
    font-size: 3.5vw;
    font-weight: var(--bold);
}

#dashboard h3 {
    font-size: 2.75vw;
    font-weight: var(--medium);
}

.post-title2 {
    width: 70%;;
}

.post-title2 h4 {
    font-size: 2.5vw;
    font-weight: var(--semibold);
}

.post-info2 {
    width: 30%;
}

.post-date2 {
    text-align: end;
    font-size: 1.4vw;
}

.new-btn {
    border: var(--line);
    border: none;
    background-color: transparent;
    font-size: 2.75vw;
    font-weight: var(--semibold);
}

.new-btn:hover {
    background-color: var(--the-color);
    color: var(--backgroung-color);
}

/* add post/edit post form */
.ae-title, .ae-content {
    border: var(--line);
    background-color: transparent;
    font-size: 1.75vw;
}

.ae-title:focus, .ae-content:focus {
    outline: none;
}

/* blog post */
.blog-title {
    font-size: 3.5vw;
    font-weight: var(--bold);
}

.blog-info {
    font-size: 1.75vw;
    font-weight: var(--light);
}

.blog-content {
    font-size: 2.1vw;
}

#the-blogpost h3, #my-blogpost h3 {
    font-size: 2.8vw;
    font-weight: var(--bold);
}

#comment-list {
    /* border: 1px solid red; */
    border-bottom: var(--line);
    height: 35vw;
    overflow: hidden;
}

#comment-list:hover {
    overflow-y: auto;
}

.one-comment {
    border-top: var(--line);
}

.comment-content {
    width: 75%;
}

.commenter {
    font-size: 1.8vw;
    font-weight: var(--semibold);
}

.comment-date {
    font-size: 1.4vw;
    font-weight: var(--light);
}

.comment {
    font-size: 1.5vw;
}

.option-btns {
    width: 25%;
}

.eddelcomment-btn, .postcomment-btn {
    font-weight: var(--medium);
    font-size: 1.35vw;
    border: var(--line);
    background-color: var(--the-color);
    color: var(--backgroung-color);
}

.postcomment-btn {
    width: 35%;
    display: block;
    margin: 0 auto;
}

.eddelcomment-btn:hover, .postcomment-btn:hover {
    background-color: transparent;
    color: var(--the-color);
}

.eddel-label {
    font-weight: var(--medium);
    font-size: 1.55vw;
}

.comment-text {
    border: var(--line);
    background-color: transparent;
    font-size: 1.5vw;
}

.comment-text:focus {
    outline:none;
}

.eddel-btn {
    width: 95%;
    font-size: 1.15vw;
    font-weight: var(--medium);
    border: var(--line);
    background-color: var(--the-color);
    color: var(--backgroung-color);
}

.eddel-btn:hover {
    background-color: transparent;
    color: var(--the-color);
}